[app]
# Loglevel can be one of: debug, info, warning, error, critical
loglevel=debug
# Provider ID (UUID) of this service - example UUID for local development
provider_id=4af95a5f-3663-4832-b080-8ba1548e78f5
# List of FHIR Resource types that the application is going to register patients from
data_domains = ImagingStudy
# Default type of this registering organization
default_organization_type = ziekenhuis
# Path to the NVI certificate for creating OPRF requests
nvi_certificate_path=/secrets/nvi.crt

[scheduler]
# the amount of seconds the update will run in the background
scheduled_delay=5
# background updates automatically start on bootstrap
automatic_background_update = True

[metadata_api]
# The base URLs of FHIR stores (metadata registers)
# For local development, use the local metadata service
endpoint=http://localhost:9500/fhir
# timeout in seconds
timeout=10
# mtls_cert=secrets/ssl/metadata_api.cert
# mtls_key=secrets/ssl/metadata_api.key
# verify_ca=secrets/ssl/metadata_api_ca.cert

[pseudonym_api]
# For local development, use the pseudonym stub service
endpoint=http://localhost:8504
timeout=10
# mtls_cert=secrets/ssl/pseudonym_api.cert
# mtls_key=secrets/ssl/pseudonym_api.key
# verify_ca=secrets/ssl/pseudonym_api_ca.cert

[referral_api]
# For local development, use the local NVI service
endpoint=http://localhost:8501
timeout=10
# mtls_cert=secrets/ssl/referral_api.cert
# mtls_key=secrets/ssl/referral_api.key
# verify_ca=secrets/ssl/referral_api_ca.cert

[referral_api_oauth]
endpoint=http://localhost:8501/oauth/token
timeout=10
# mtls_cert=secrets/ssl/referral_api.cert
# mtls_key=secrets/ssl/referral_api.key
# verify_ca=secrets/ssl/referral_api_ca.cert

[nvi_fhir_systems]
# FHIR NamingSystem for pseudonyms
pseudonym_system = http://vws.nl/fhir/NamingSystem/nvi-pseudonym
# OID for URA numbers
source_system = urn:oid:2.16.528.1.1007.3.3
# CodeSystem for organization types
organization_type_system = http://vws.nl/fhir/CodeSystem/nvi-organization-types
# CodeSystem for care context
care_context_system = http://nictiz.nl/fhir/hcim-2024

[uvicorn]
# If true, the api docs will be enabled
swagger_enabled = True
# Endpoint for swagger api docs
docs_url = /docs
# Endpoint for redoc api docs
redoc_url = /redocs
# Host for the uvicorn server
host = 0.0.0.0
# Port for the uvicorn server
port = 8515
# Live reload for uvicorn server
reload = True

# SSL configuration
use_ssl = False
ssl_base_dir = secrets/ssl
ssl_cert_file = server.cert
ssl_key_file = server.key
