version: "3.5"

services:
  app:
    build:
      context: .
      args:
        NEW_UID: ${NEW_UID:-1000}
        NEW_GID: ${NEW_GID:-1000}
      dockerfile: docker/Dockerfile
    volumes:
      - ./:/src
    ports:
      - "8511:8511"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8511/health"]
      start_period: 30s
      interval: 30m
