version: "3.5"

services:
  app:
    build:
      context: .
      args:
        NEW_UID: ${NEW_UID:-1000}
        NEW_GID: ${NEW_GID:-1000}
      dockerfile: docker/Dockerfile
    volumes:
      - ./:/src
    environment:
      FASTAPI_CONFIG_PATH: /src/app.conf
    ports:
      - "8515:8515"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8515/health"]
      start_period: 30s
      interval: 30m
