name: CI

on:
    workflow_dispatch:
    pull_request:
    push:
        branches:
            - main

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    push_container:
        name: Create and publish Docker image to the Github Package Registry
        runs-on: ubuntu-24.04
        permissions:
          contents: read
          packages: write
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6
              ref: main

            - name: Log in to the Container registry
              uses: docker/login-action@v3
              with:
                registry: ghcr.io
                username: ${{ github.actor }}
                password: ${{ secrets.GITHUB_TOKEN }}

            - name: Extract metadata (tags, labels) for Docker
              id: meta
              uses: docker/metadata-action@v5
              with:
                images: ghcr.io/${{ github.repository }}

            - name: Build and push Docker image
              uses: docker/build-push-action@v6
              env:
                NEW_UID: 1000
                NEW_GID: 1000
              with:
                context: .
                file: docker/Dockerfile
                push: true
                tags: ${{ steps.meta.outputs.tags }}
                labels: ${{ steps.meta.outputs.labels }}
                build-args: |
                  NEW_UID=${{ env.NEW_UID }}
                  NEW_GID=${{ env.NEW_GID }}
                  standalone=true

