name: Create release package

on:
  push:
    tags:
      - v*

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Set env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - uses: actions/checkout@v6

      - name: Add version file
        run: 'echo "{ \"version\": \"${{ env.RELEASE_VERSION }}\", \"git_ref\": \"$GITHUB_SHA\"}" > version.json'

      - name: Create tar
        run: tar -czf gfmodules-nvi-referral-manager_${{ env.RELEASE_VERSION }}.tar.gz app ./version.json

      - name: Upload release tar
        uses: actions/upload-artifact@v5
        with:
          name: gfmodules-nvi-referral-manager_${{ env.RELEASE_VERSION }}
          path: gfmodules-nvi-referral-manager_${{ env.RELEASE_VERSION }}.tar.gz
