name: Package python virtual env

on:
  push:
    tags:
      - v*

jobs:
  build:
    strategy:
      matrix:
        python_version: ['3.11']
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Build venv package
        uses: minvws/action-python-venv-package@v1
        with:
          python_version: ${{ matrix.python_version }}
          package_file_name: gfmodules-nationale-verwijsindex-registratie-service
